# OSX
#
.DS_Store
/tinpet-app/.DS_Store

/tinpet-app/build/
/tinpet-app/*.pbxuser
/tinpet-app/!default.pbxuser
/tinpet-app/*.mode1v3
/tinpet-app/!default.mode1v3
/tinpet-app/*.mode2v3
/tinpet-app/!default.mode2v3
/tinpet-app/*.perspectivev3
/tinpet-app/!default.perspectivev3
/tinpet-app/xcuserdata
/tinpet-app/*.xccheckout
/tinpet-app/*.moved-aside
/tinpet-app/DerivedData
/tinpet-app/*.hmap
/tinpet-app/*.ipa
/tinpet-app/*.xcuserstate

# Android/IntelliJ
#
/tinpet-app/build/
/tinpet-app/.idea
/tinpet-app/.gradle
/tinpet-app/local.properties
/tinpet-app/*.iml

# node.js
#
/tinpet-app/node_modules/
/tinpet-app/npm-debug.log
/tinpet-app/yarn-error.log

# BUCK
/tinpet-app/buck-out/
/tinpet-app/\.buckd/
/tinpet-app/*.keystore
/tinpet-app/!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

/tinpet-app/*/fastlane/report.xml
/tinpet-app/*/fastlane/Preview.html
/tinpet-app/*/fastlane/screenshots

# Bundle artifact
/tinpet-app/*.jsbundle

# CocoaPods
/tinpet-app/ios/Pods/
