# OSX
#
.DS_Store
/app/.DS_Store

# Xcode
#
/app/build/
/app*.pbxuser
/app!default.pbxuser
/app*.mode1v3
/app!default.mode1v3
/app*.mode2v3
/app!default.mode2v3
/app*.perspectivev3
/app!default.perspectivev3
/appxcuserdata
/app*.xccheckout
/app*.moved-aside
/appDerivedData
/app*.hmap
/app*.ipa
/app*.xcuserstate

# Android/IntelliJ
#
/appbuild/
/app.idea
/app.gradle
/applocal.properties
/app*.iml

# node.js
#
/appnode_modules/
/appnpm-debug.log
/appyarn-error.log

# BUCK
/appbuck-out/
/app\.buckd/
/app*.keystore
/app!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

/app*/fastlane/report.xml
/app*/fastlane/Preview.html
/app*/fastlane/screenshots

# Bundle artifact
/app*.jsbundle

# CocoaPods
/app/ios/Pods/
